        {{ define "main" }}
        <!-- intro -->
        <section class="content">
            <header>
                <h1 class="index-header">Welcome to {{ .Title }}</h1>
            </header>
            
               <p>{{ .Site.Params.homeText | markdownify }}</p>
        </section>

        <section>
            <!-- post list -->
            {{ range (.Paginate (where .Site.RegularPages "Section" "==" "posts")).Pages }}

            <article>
                <section class="content">
                    <header>
                        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    </header>

                        <p>{{ .Summary }}</p>
                        {{ if .Truncated }}
                        <p><a href="{{ .RelPermalink }}">Read More</a></p>
                        {{ else }}
                        
                        {{ end }}
                </section>
            </article>
        </section>
        
        {{ end }}
        <div class="extra-pagination"></div>
            {{ partial "pagination.html" .Paginator }}
        </div>
        {{ end }}