{{ if .Site.Params.Email }}

    <div class="contact-form" id="contact-form">
      <form name="contact" action="/thanks/" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="contact">
        <input type="text" name="bot-field" style="display:none">
        <input type="hidden" name="subject" value="fLaMEd.nz Contact Form Submission">
        <input type="text" name="name" placeholder="Who are you?">
        <input type="email" name="email" placeholder="Your email" required>
        <textarea name="message" placeholder="What do you want to say?" rows=5 required></textarea>
        <button type="submit">Send</button>
      </form>
    </div>

{{ end }}
