{{ if .Site.Params.Email }}

<div id="formspree" class="formspree">
  <form action="https://formspree.io/{{ .Site.Params.Email }}" method="POST">
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="subject" value="fLaMEd.nz Contact Form Submission">
    <input type="email" name="_replyto" placeholder="Your email" required>
    <textarea name="message" placeholder="What do you want to say?" rows=5 required></textarea>
    <button type="submit">Send</button>
  </form>
</div>
{{ end }}